<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

    <body>
        <%- include("../partials/header"); %>
            <section class="container">
                <h2><%= title %></h2>
                <div>
                    <div>
                        <img src="https://luck-live-tiktok.onrender.com/public/imgs/<%= data.image%>" alt="<%= data.name %>">
                        <h3> Titulo: 
                            <%= data.title %>
                        </h3>
                        <p>Descrição: 
                            <%= data.description %>
                        </p>
                        <span>Adiquiridos: 
                            <%= percentual %>%
                        </span>
                    </div>
                </div>
            </section>
            <%- include("../partials/footer"); %>
    </body>
</html>