<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
    <body>
        <%- include("../partials/header"); %>
            <section>
                <div class="container">
                    <a href="/user">
                        
                        <div>
                            <img src="data:jpeg;base64,<%= image %>" alt="<%= description %>">
                        </div>
                        <div>
                            <h3> <strong>Titulo: </strong> 
                                <%= title %>
                            </h3>
                            <p><strong>Descrição: </strong>
                                <%= description %>
                            </p>
                            <span><strong>Restante: </strong> 
                                <%= percentage %>%
                            </span>
                        </div> 
                        
                    </a>
                </div>
            </section>
        <%- include("../partials/footer"); %>
    </body>
</html>